recursive-include model_clone/templates *.html
recursive-include model_clone *.py
prune django_clone
prune sample_assignment
prune sample_company
prune sample_driver
prune sample
prune .github
prune .circleci
prune manage.py
global-exclude __pycache__
global-exclude *.py[co]

include *.md
exclude *.example
exclude *.json
exclude .yamllint
exclude *.png
exclude *.egg-info
include *.py
include *.txt
exclude .bumpversion.cfg
exclude .coveragerc
include LICENSE
exclude Makefile
exclude tox.ini
exclude .tox
exclude .all-contributorsrc
exclude .pypirc

exclude *.yml
recursive-exclude docs *.html
recursive-exclude docs *.md
recursive-exclude docs *.nojekyll
recursive-exclude docs *.png
