# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-3.7
      - test-3.6
      - test-3.5
jobs:
  test-3.6: &test-template
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "setup.py" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            sudo python -m pip uninstall -y pip
            sudo apt-get install -y --no-install-recommends --reinstall python3-pip
            python -m venv venv
            . venv/bin/activate
            echo "Activated"
            make install-test
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "setup.py" }}

      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            tox

      - store_artifacts:
          path: test-reports
          destination: test-reports
  test-3.7:
    <<: *test-template
    docker:
      - image: circleci/python:3.7
  test-3.5:
    <<: *test-template
    docker:
    - image: circleci/python:3.5
#  test-2.7:
#    <<: *test-template
#    docker:
#    - image: circleci/python:2.7
#    steps:
#      - checkout
#      # Download and cache dependencies
#      - restore_cache:
#          keys:
#          - v1-dependencies-{{ checksum "setup.py" }}
#          # fallback to using the latest cache if no exact match is found
#          - v1-dependencies-
#
#      - run:
#          name: install dependencies
#          command: |
#            pip install virtualenv
#            virtualenv venv
#            sudo chown -R circleci:circleci venv
#            . venv/bin/activate
#            make install-test
#      - save_cache:
#          paths:
#          - ./venv
#          key: v1-dependencies-{{ checksum "setup.py" }}
#
#      # run tests!
#      # this example uses Django's built-in test-runner
#      # other common Python testing frameworks include pytest and nose
#      # https://pytest.org
#      # https://nose.readthedocs.io
#      - run:
#          name: run tests
#          command: |
#            . venv/bin/activate
#            tox
#
#      - store_artifacts:
#          path: test-reports
#          destination: test-reports

