name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: true
      matrix:
        platform: [ubuntu-latest, macos-latest]  #  TODO: Add windows-latest
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        id: pip-cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ matrix.python-version }}-
      - uses: actions/cache@v2
        id: tox-cache
        with:
          path: |
            .tox
            .pytest_cache
          key: ${{ runner.os }}-tox-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}-{{ hashFiles('tox.ini') }}
          restore-keys: |
            ${{ runner.os }}-tox-${{ matrix.python-version }}-
      - name: Install dependencies
        run: |
          pip install -U pip
          make install-dev

      - name: Run Lint
        uses: wearerequired/lint-action@v1.9.0
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == github.repository_owner }}
        with:
          github_token: ${{ secrets.PAT_TOKEN }}
          black: ${{ matrix.python-version != '2.7' && matrix.python-version != '3.5' }}
          flake8: true
          git_email: "lint-action@django-clone.com"
          auto_fix: ${{ matrix.python-version != '2.7' && matrix.python-version != '3.5' }}
      - name: Test
        run: make tox
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
          PLATFORM: ${{ matrix.platform }}
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
