name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  pull_request_target:
    branches: 
      - master

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    if: "!startsWith(github.ref, 'refs/tags/') && !endsWith(github.ref, 'master')"
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@v0.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      id: pip-cache
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ matrix.python-version }}-
    - uses: actions/cache@v2
      id: tox-cache
      with:
        path: |
          .tox
          .pytest_cache
        key: ${{ runner.os }}-tox-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}-{{ hashFiles('tox.ini') }}
        restore-keys: |
          ${{ runner.os }}-tox-${{ matrix.python-version }}-
    - name: Install dependencies
      run: |
        pip install -U pip
        make install-dev
#     - name: Run Lint
#       uses: samuelmeuli/lint-action@v1
#       if: ${{ github.event_name != 'pull_request_target' }}
#       with:
#         github_token: ${{ secrets.github_token }}
#         black: ${{ matrix.python-version != '2.7' && matrix.python-version != '3.5' }}
#         flake8: true
#         git_email: "lint-action@django-clone.com"
#         auto_fix: ${{ github.event_name != 'pull_request_target' }}
    - name: Test
      run: make tox
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
